@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    font-family: 'JetBrains Mono', monospace;
    print-color-adjust: economy;
}

@media print {
    @page {
        size: A4;
        margin-left: 0;
        margin-right: 0;
    }
}

::-moz-selection { /* Code for Firefox */
    color: #f8f8f2;
    background: #282a36;
}

::selection {
    color: #f8f8f2;
    background: #282a36;
}
